<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="cup">

        <link name="cup">
            <visual>
                <origin xyz="0 0 0" rpy="-1.57 0 0"/>
                <geometry>
                    <mesh filename="package://bartending_robot/meshes/visual/cup.stl" scale="0.001 0.001 0.001">
                    </mesh>
                </geometry>
            </visual>

<!--            <collision>-->
<!--                <origin xyz="0 0 0" rpy="-1.57 0 0"/>-->
<!--                <geometry>-->
<!--                    <mesh filename="package://bartending_robot/meshes/visual/cup.stl" scale="0.001 0.001 0.001"/>-->
<!--                </geometry>-->
<!--            </collision>-->

            <inertial>
                <mass value="1e-5"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
            </inertial>
        </link>
        <gazebo reference="cup">
            <material>Gazebo/Orange</material>
        </gazebo>

    </xacro:macro>
</robot>