<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="cup">

        <link name="cup">
            <visual>
                <!-- setting visual position and orientation of the cup -->
                <origin xyz="0 0 0" rpy="-1.57 0 0"/> 
                <geometry>
                    <!-- The path to the visual meshes in the package and scale. -->
                    <mesh filename="package://bartending_robot/meshes/visual/cup.stl" scale="0.001 0.001 0.001">
                    </mesh>
                </geometry>
            </visual>

            <collision>
                <!-- setting visual position and orientation of the cup -->
                <origin xyz="0 0 0" rpy="-1.57 0 0"/> 
                <geometry>
                    <!-- The path to the collision meshes in the package and scale. -->
                    <mesh filename="package://bartending_robot/meshes/visual/cup.stl" scale="0.001 0.001 0.001"/> #scaling the CAD model
                </geometry>
            </collision>

            <inertial> 
                <!-- setting inertial settings of the cup -->
                <mass value="1e-5"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
            </inertial>
        </link>
        <gazebo reference="cup">
            <!-- setting material color of the cup -->
            <material>Gazebo/Orange</material> 
        </gazebo>

    </xacro:macro>
</robot>