<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="platform">
        <link name="platform">
            <visual>
                <!-- setting visual position and orientation of the platform -->
                <origin xyz="0 0 0" rpy="0 3.14 -1.57"/>
                <geometry>
                    <!-- The path to the visual meshes in the package and scale. -->
                    <mesh filename="package://bartending_robot/meshes/visual/platform2.stl" scale="0.001 0.001 0.001">
                    </mesh>
                </geometry>
            </visual>
            <collision>
                <!-- setting collision position and orientation of the bottle -->
                <origin xyz="0 0 0" rpy="0 3.14 -1.57"/>
                <geometry>
                    <!-- The path to the collision meshes in the package and scale. -->
                    <mesh filename="package://bartending_robot/meshes/collision/platform2.stl" scale="0.001 0.001 0.001">
                    </mesh>
                </geometry>
            </collision>


            <inertial>
                <!-- setting inertial properties of the platform-->
                <mass value="1000"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="500" ixy="0" ixz="0" iyy="500" iyz="0" izz="500"/>
            </inertial>
        </link>
        <gazebo reference="platform">
            <!-- setting material color of the platform-->
            <material>Gazebo/Black</material>
        </gazebo>

    </xacro:macro>
</robot>